<h1>Confirmer votre adresse mail</h1>

<p>
    Confirmer l'adresse mail en cliquant sur le lien: <br><br>
    <a href="{{ signedUrl }}">Confirmer votre email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>

</p>
