{% extends 'base.html.twig' %}

{% block body %}
    <p>Bonjour {{ prenom }}</p>
    <a href="{{ path('index') }}">Retour à l'accueil</a>
{% endblock %}

{% block footer %}
    <footer>
        <p>mon footer personnalisé</p>
    </footer>
{% endblock %}