{% extends 'base.html.twig' %}


{% block body %}

    <div style="margin-left: 5%;margin-top: 3%">
        <h3>{{ user.name }} {{ user.lastName }} </h3>
        <p>vous êtes inscrit en tant que
            <strong>
                {% if user.roles[0] == "ROLE_OWNER" %}
                    bailleur
                {% endif %}
                {% if user.roles[0] == "ROLE_REPRESENTATIVE" %}
                    mandataire
                {% endif %}
                {% if user.roles[0] == "ROLE_tenant" %}
                    locataire
                {% endif %}
            </strong> que la plateforme</p>
        <h2>Actions :</h2>
        <a href="">>Afficher mes locations</a>
        <br><a href="/deleteuser">>Supprimer mon compte</a>
    </div>

{% endblock %}