<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<hi>Erreur de connexion veuiller recharger la page</hi>
<a href="cryptos"> actualiser la page</a>

</body>
<footer>
    <p>Copyright, monsite.com</p>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"></script>