{% extends 'base.html.twig' %}
{% block body %}

    <div style="margin-left: 8%;margin-top:3%;">
        <h1 style="color:#9F5540;margin-bottom: 3%">Ajouter une Residence</h1>
        {{ form_start(form, { attr: { id: 'form-edit_owner', novalidate: 'novalidate' } }) }}
        {{ form_row(form) }}
        <button class="btn btn-success" style="margin-top: 3%"type="submit">Ajouter</button>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>


{% endblock %}