{% extends 'base.html.twig' %}
{% block body %}
    <h3>bien</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">prenom</th>
        </tr>
        </thead>
        <tbody>
        {% for residence in residences %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="/location-list/{{ user.id }}">{{ user.lastName }}</a></td>
                <td>{{ user.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}